.footer {
    background-color: var(--hero-footer-backround);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__adress_place {
    font-style: normal;
    font-size: 14px;
    line-height: 1.74;
    letter-spacing: 0.03em;
    color: var(--header-color);
}
  
.footer__adress_contacts {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contacts-footer-color);
    ;
}

.footer__invitation {
    color: var(--header-color);
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


.footer__box {
    display: flex;
    align-items: baseline;
}

.footer__adress {
    display: block;
    margin-right: 70px;
}

.footer__adress_retreats:not(:last-child) {
    margin-bottom: 9px;
}
