.work-direction {
    display: none;
}

@media screen and (min-width: 1200px) {
    .work-direction {
        display: flex;
        padding-top: 0;
    }

    .work-direction__about {
        display: flex;
        justify-content: space-between;    
    }

    .work-direction__examples {
        position: relative;
        width: 370px;
        height: 294px;
        max-width: 100%;
    }

    .work-direction__elements {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70px;
        background: rgba(47, 48, 58, 0.8);
        bottom: 0;
    }

    .work-direction__elements_words {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--header-color);
        
    }
}


