.footer-form { 
    display: block;
}

.footer-form__field {
    display: block;
}

.footer-form__name {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 20px;
    text-align: center;
    color: var(--header-color);
}

.footer-form__label{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    margin-bottom: 4px;
    letter-spacing: 0.01em;
    color: var(--description-color);
}

.footer-form__field input{
    width: 450px;
    height: 50px;
    padding: 15px 16px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: var(--header-color);
}

.footer-form__btn {
    display: flex;
    width: 200px;
    height: 50px;
    padding: 10px 28px;
    background: #2196F3;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--header-color);
    justify-content: space-between;
    align-items: center;
    border: 0;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .footer-form { 
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1200px) {
    .footer-form__field {
        display: flex;
    }

    .footer-form__field input{
        width: 358px;
        margin-left: 0;
        margin-right: 12px;
    }

    .footer-form__name {    
        text-align: start;
    }

    .footer-form { 
        margin-right: 0;
    }
}

