:root {
    --accent-color: #2196f3;
    --body-color: #212121;
    --header-color: #ffffff;
    --logo-color: #000000;
    --description-color: #757575;
    --portfolio-btn-color: #f5f4fa;
    --hero-footer-backround: #2f303a;
    --contacts-footer-color: rgba(255, 255, 255, 0.6);
    --hover-focus-color: #188ce8;
    --border-color: #E5E5E5;
    --social-list-icon: #AFB1B8;
  }